body{
    display: flex;
    justify-content: center;
    background: #ffee00a6;
}
.flex{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px grey;
    padding: 30px;
    margin: 65px;
    border-radius: 33px;
    background: #ffee0063;
}
.main{
    text-decoration: double underline;
}
.but{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    border: 2px solid #ffee0063;
    margin-top: 43px;
    background: #ffee0063;
}
.but:hover{
    color: aqua;
    width: 180px;
    height: 60px;
    font-size: 40px;
}
.one {
margin-top: 25px;

}
.tow{
    margin-top: 25px;
    }
input{
    height: 30px;
    border-radius: 5px;
    font-size: 20px;

}
#result{
    color: darkslategrey
}